<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59440485968-muua08ohbfjqlf4lohh99bmpt3p1oh6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59440485968-muua08ohbfjqlf4lohh99bmpt3p1oh6b</string>
	<key>API_KEY</key>
	<string>AIzaSyAffe78k7cOSFYfkdena1Dnl2YAGE1brm0</string>
	<key>GCM_SENDER_ID</key>
	<string>59440485968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brototype.gestapo</string>
	<key>PROJECT_ID</key>
	<string>gestapo-a3b37</string>
	<key>STORAGE_BUCKET</key>
	<string>gestapo-a3b37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59440485968:ios:6ee75fcec70379efc72355</string>
</dict>
</plist>